<html>
	<head>
		<title> Card Connect </title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="/css/newcontact.css">

		<script src="https://code.jquery.com/jquery-3.1.0.js"></script>
	</head>
	<body>
		<div class="top-bar">
			<h3 style="text-align: center;">View Card</h3>
			<a href="/contactlist" class="back-button">Back</a>
			<a href="/editcontact/{{data.fullName}}" class="edit-button">Edit</a>
		</div>
			<div class="header-img">
				<object id="display-card" data="/images/{{data.image}}" type="image/svg+xml" class="card">Your browser does not support SVG</object>
			</div>
			<div class="header-text">
				<h3 class="full-name">{{data.fullName}}</h3>
			</div>
			
			<div class="body">
				<div class="input-field">
					<img src="/images/icon-call.svg">
					<input type="text" class="view" value="{{data.phone}}" readonly>
				</div><br>

				<div class="input-field">
					<img src="/images/icon-company.svg">
					<input type="text" class="view" value="{{data.company}}" readonly>
				</div><br>

				<div class="input-field">
					<img src="/images/icon-globe.svg">
					<input type="text" class="view" value="{{data.website}}" readonly>
				</div><br>

				<div class="input-field">
					<img src="/images/icon-mail.svg">
					<input type="text" class="view" value="{{data.email}}" readonly>
				</div><br>

				<div class="input-field">
					<img src="/images/icon-home.svg">
					<input type="text" class="view" value="{{data.line1}}" readonly><br>
					<input type="text" class="view" value="{{data.line2}}" readonly>
				</div><br>
			</div>
		</form>
	</body>
</html>
