<html>
	<head>
		<title> Card Connect </title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link rel="stylesheet" href="/css/newcontact.css">
		
		<script src="https://code.jquery.com/jquery-3.1.0.js"></script>
	</head>
	<body>
		<div class="top-bar">		
			<p style="text-align: center;">View Mode</p>
			<a href="/contactlist" class="back-button">Back</a>
			<a href="/newcontact" class="done-button">Edit</a>
		</div>
		<form class="new-contact" action="">
			<div class="header">
				<img src="/images/{{data.image}}">
				<h3>{{data.fullName}}</h3>
			</div>
			
			<div class="body">
				<div class="input-field">
					<img src="/images/icon-call.svg">
					<input type="text" class="field" value="{{data.phone}}" readonly>
				</div><br>
			
				<div class="input-field">
					<img src="/images/icon-company.svg">
					<input type="text" class="field" value="{{data.company}}" readonly>
				</div><br>
				
				<div class="input-field">
					<img src="/images/icon-globe.svg">
					<input type="text" class="field" value="{{data.website}}" readonly>
				</div><br>
			
				<div class="input-field">
					<img src="/images/icon-mail.svg">
					<input type="text" class="field" value="{{data.email}}" readonly>
				</div><br>
			
				<div class="input-field">
					<img src="/images/icon-home.svg">
					<input type="text" class="field" value="{{data.address}}" readonly>
				</div><br>
			</div>
		</form>
	</body>
</html>